p {
    /*Color de la letra*/
    color: red;

    /*Fondo del parágrafo*/
    background-color: rgb(0, 247, 255);

    /*Negrita*/
    font-weight: bold;

    /*cursiva*/
    font-style: italic;

    /*tachado*/
    text-decoration:  underline;

    /*Altura*/
    height: 20px;

    /*Anchura*/
    width: 53px;
}